<div class="box-footer clearfix">
    <p class="pull-left">Displaying row <strong>{{firstRowNumber}}</strong> to <strong>{{lastRowNumber}}</strong> from <strong>{{total}}</strong> rows</p>
    <div class="box-tools pull-right">
        {{pagination-pager count=totalPages current=page}}
    </div>
</div>
