<div class="box-header with-border">
    <div class="pull-left">
        <button class="btn btn-primary" {{action "toggleAdd"}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Tambah</span>
        </button>
    </div><!-- /.pull-left -->
    <div class="box-tools pull-right">
        <div class="input-group">
            {{input type="text" classNames="form-control" placeholder=searchPlaceholder value=query}}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
        </div>
    </div><!-- /.box-tools -->
</div><!-- /.box-header -->
