<div class="box-header with-border">
    <div class="box-tools pull-right">
        <div class="input-group">
            {{input type="text" classNames="form-control" placeholder=searchPlaceholder value=query}}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
        </div>
    </div><!-- /.box-tools -->
</div><!-- /.box-header -->
