<div class="modal-header">
    <button type="button" {{action "toggleAdd"}} class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Tambah Surat Masuk</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="number" placeholder="Nomor">
        </div>
        <div class="form-group">
            {{bootstrap-datepicker value=date class="form-control" placeholder="Tanggal" autoclose=true format="yyyy-mm-dd"}}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="sender" placeholder="Pengirim">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="content" placeholder="Perihal">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Berkas Surat</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Unggah berkas surat masuk</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" {{action "toggleAdd"}} class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
</div>
